.table-hover tbody tr:hover {
    background-color: #e2e6ea !important;
}

.softres-0 {
    background-color: #f8f9fa;
}

.softres-1 {
    background-color: #d4edda;
}

.softres-2 {
    background-color: #ffeeba;
}

.softres-3 {
    background-color: #f8d7da;
}

.softres-4{
    background-color: #f5c6cb;
}

.content-wrapper {
    margin-left: 25%;
    margin-right: 25%;
}